@charset "UTF-8";
:root {
  /* fonts */
  --main-font: roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text colors */
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
  --text-part-logo: #000000;
  --cl-link: #afb1b8;
  --cl-commentary: rgba(117, 117, 117, 0.5);
  --cl-text-secondary: rgba(255, 255, 255, 0.6);
  /* bg colors */
  --bg-cl-hero: #c4c4c4;
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --bg-project: #eeeeee;
  --bg-header: #ececec;
  --bg-cl-btn: #188ce8;
  --border-modal: rgba(33, 33, 33, 0.2);
  /* others */
  --indent: 30px;
  --items: 3;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time-transition: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--additional-color);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
  border: none;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
    padding: 10px 0;
  }
}
.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
  cursor: pointer;
  fill: var(--title-text-color);
}

.menu-button:hover .icon-close {
  fill: var(--accent-color);
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu-container .nav-list:first-child {
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .menu-container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 87px;
  }
}
.menu-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .menu-container .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
.menu-container .nav-list__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic);
}
@media screen and (min-width: 768px) {
  .menu-container .nav-list__link {
    display: block;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.143;
  }
}
.menu-container .nav-list__link.current {
  position: relative;
  color: var(--accent-color);
}
.menu-container .nav-list .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}
.menu-container .nav-list__link:hover, .menu-container .nav-list__link:focus {
  color: var(--accent-color);
}
.menu-container .header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.menu-container .header-contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  -webkit-transition: color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic);
}
.menu-container .header-contacts .tel {
  color: var(--accent-color);
}
.menu-container .header-contacts .link:hover, .menu-container .header-contacts .link:focus {
  color: var(--accent-color);
}
.menu-container .header-contacts:nth-child(2) {
  margin-bottom: 64px;
}

.mobil-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.mobil-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  -webkit-transition: color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic);
}
.mobil-socials__item:not(:last-child) .mobil-socials__link::after {
  content: "";
  display: block;
  width: 1px;
  margin-left: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobil-socials__link:hover,
.mobil-socials__link:focus {
  color: var(--accent-color);
}

/* header */
.header {
  position: relative;
  border-bottom: 1px solid var(--bg-header);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -1px;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/* Logo */
.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo--black {
  color: var(--text-part-logo);
}
.logo--white {
  color: var(--additional-color);
}
.logo-part {
  margin-right: 70px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-right: 92px;
  }
}

/* nav */
/* contact-header */
.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header-contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  -webkit-transition: color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic);
}
.header-contacts .link:hover, .header-contacts .link:focus {
  color: var(--accent-color);
}
.header-contacts__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.header-contacts__icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--bg-cl-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-color);
}
.hero__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--additional-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color var(--time-transition) var(--cubic), background-color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic), background-color var(--time-transition) var(--cubic);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--bg-cl-btn);
  color: var(--additional-color);
}

/* Features */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature .feature-list__item {
  display: block;
  width: 270px;
}
.feature .feature__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: var(--light-bg-cl);
}
.feature .feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature .feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature .feature__description {
  line-height: 1.71;
}

/* <!--Work section--> */
.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work-list .work-list__item {
  position: relative;
}
.work-list .work-list__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
.work-list .work-list__name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--additional-color);
}

/* team */
.team {
  background-color: var(--light-bg-cl);
}
.team__name-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: var(--title-text-color);
}
.team__item {
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team__job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primery-text-color);
}

/* socials icons */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--cl-link);
  -webkit-transition: var(--time-transition) var(--cubic);
  transition: var(--time-transition) var(--cubic);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}
.socials .socials__icon .link.current {
  fill: var(--accent-color);
}
.socials .socials__icon {
  fill: currentColor;
}

/* ---------regular customers----------   */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--cl-link);
  border-radius: 4px;
  color: var(--cl-link);
  -webkit-transition: color var(--time-transition) var(--cubic), background-color var(--time-transition) var(--cubic), border-color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic), background-color var(--time-transition) var(--cubic), border-color var(--time-transition) var(--cubic);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.clients-list__item:hover .clients-list__item:focus {
  border-color: var(--accent-color);
}
.clients-list__icon {
  fill: currentColor;
}

/* Portfolio */
/* Filters */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filter__item .filter__btn {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: var(--light-bg-cl);
  color: var(--title-text-color);
  -webkit-transition: background-color var(--time-transition) var(--cubic), color var(--time-transition) var(--cubic), -webkit-box-shadow var(--time-transition) var(--cubic);
  transition: background-color var(--time-transition) var(--cubic), color var(--time-transition) var(--cubic), -webkit-box-shadow var(--time-transition) var(--cubic);
  transition: background-color var(--time-transition) var(--cubic), color var(--time-transition) var(--cubic), box-shadow var(--time-transition) var(--cubic);
  transition: background-color var(--time-transition) var(--cubic), color var(--time-transition) var(--cubic), box-shadow var(--time-transition) var(--cubic), -webkit-box-shadow var(--time-transition) var(--cubic);
}
.filter__item .filter__btn:hover, .filter__item .filter__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--additional-color);
}

/* Projects section  */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.project .project__item {
  -ms-flex-preferred-size: calc((100% - (var(--indent)) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - (var(--indent)) * (var(--items) - 1)) / var(--items));
}
.project .project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project .project__parceling {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
}
.project .project__box {
  position: relative;
  overflow: hidden;
}
.project .project__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--time-transition) var(--cubic);
  transition: -webkit-box-shadow var(--time-transition) var(--cubic);
  transition: box-shadow var(--time-transition) var(--cubic);
  transition: box-shadow var(--time-transition) var(--cubic), -webkit-box-shadow var(--time-transition) var(--cubic);
}
.project .project__link:hover, .project .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.project .project__subscription {
  padding: 20px 24px;
  border: 1px solid var(--bg-project);
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity var(--time-transition) var(--cubic), -webkit-transform var(--time-transition) var(--cubic);
  transition: opacity var(--time-transition) var(--cubic), -webkit-transform var(--time-transition) var(--cubic);
  transition: transform var(--time-transition) var(--cubic), opacity var(--time-transition) var(--cubic);
  transition: transform var(--time-transition) var(--cubic), opacity var(--time-transition) var(--cubic), -webkit-transform var(--time-transition) var(--cubic);
}
.project__link:hover .overlay, .project__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--additional-color);
}

/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}
.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* footer-contacts */
.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__adress {
  margin-top: 20px;
  font-style: normal;
}
.contacts__link {
  line-height: 1.71;
}
.contacts__link--wight {
  color: var(--additional-color);
  -webkit-transition: color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic);
}
.contacts__link--wight:hover, .contacts__link--wight:focus {
  color: var(--accent-color);
}
.contacts__link--gray {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--cl-text-secondary);
  -webkit-transition: color var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic);
}
.contacts__link--gray:hover, .contacts__link--gray:focus {
  color: var(--accent-color);
}

/* footer-socials */
.socials-blok {
  margin-right: 93px;
}

.footer-text {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--additional-color);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--time-transition) var(--cubic);
  transition: background-color var(--time-transition) var(--cubic);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}
.footer-socials__icon {
  fill: var(--additional-color);
} /* Форма в футере */
.footer-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--cl-text-secondary);
  background-color: var(--dark-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-form__input::-webkit-input-placeholder {
  color: var(--cl-text-secondary);
}
.footer-form__input::-moz-placeholder {
  color: var(--cl-text-secondary);
}
.footer-form__input:-ms-input-placeholder {
  color: var(--cl-text-secondary);
}
.footer-form__input::-ms-input-placeholder {
  color: var(--cl-text-secondary);
}
.footer-form__input::placeholder {
  color: var(--cl-text-secondary);
}
.footer-form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--additional-color);
  background-color: var(--accent-color);
}
.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--time-transition) var(--cubic), visibility var(--time-transition) var(--cubic);
  transition: opacity var(--time-transition) var(--cubic), visibility var(--time-transition) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--additional-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity var(--time-transition) var(--cubic), -webkit-transform var(--time-transition) var(--cubic);
  transition: opacity var(--time-transition) var(--cubic), -webkit-transform var(--time-transition) var(--cubic);
  transition: transform var(--time-transition) var(--cubic), opacity var(--time-transition) var(--cubic);
  transition: transform var(--time-transition) var(--cubic), opacity var(--time-transition) var(--cubic), -webkit-transform var(--time-transition) var(--cubic);
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--time-transition) var(--cubic), border var(--time-transition) var(--cubic);
  transition: color var(--time-transition) var(--cubic), border var(--time-transition) var(--cubic);
}
.modal__btn:hover, .modal__btn:focus {
  border: 1px solid #2196f3;
}
.modal__btn-icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}
.modal__btn-icon:hover, .modal__btn-icon:focus {
  fill: var(--accent-color);
}

/* modal-form */
.modal-form {
  margin-left: auto;
  margin-right: auto;
  /* смена иконки */
}
.modal-form__button {
  display: inline-block;
  padding: 10px 52px;
  margin: 0px 124px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--additional-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--time-transition) var(--cubic);
  transition: background-color var(--time-transition) var(--cubic);
}
.modal-form__button:hover, .modal-form__button:focus {
  background-color: var(--bg-cl-btn);
}
.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  text-align: center;
  color: var(--title-text-color);
}
.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.01em;
}
.modal-form__input {
  min-width: 448px;
  min-height: 40px;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  font: inherit;
  outline: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: border-color var(--time-transition) var(--cubic), translate var(--time-transition) var(--cubic);
  transition: border-color var(--time-transition) var(--cubic), translate var(--time-transition) var(--cubic);
}
.modal-form__input:focus-within {
  border-color: var(--accent-color);
}
.modal-form__input:hover {
  border-color: var(--accent-color);
}
.modal-form__icon {
  position: absolute;
  top: 38px;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill var(--time-transition) var(--cubic);
  transition: fill var(--time-transition) var(--cubic);
}
.modal-form__icon:hover {
  fill: var(--accent-color);
}
.modal-form__field:focus-within > .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__commentary {
  min-width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  font-size: 12px;
  line-height: 1.1721428571;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  -webkit-transition: border-color var(--time-transition) var(--cubic);
  transition: border-color var(--time-transition) var(--cubic);
}
.modal-form__commentary:focus-within {
  border-color: var(--accent-color);
}
.modal-form__field.commentary {
  margin-bottom: 20px;
}
.modal-form__commentary::-webkit-input-placeholder {
  color: var(--cl-commentary);
}
.modal-form__commentary::-moz-placeholder {
  color: var(--cl-commentary);
}
.modal-form__commentary:-ms-input-placeholder {
  color: var(--cl-commentary);
}
.modal-form__commentary::-ms-input-placeholder {
  color: var(--cl-commentary);
}
.modal-form__commentary::placeholder {
  color: var(--cl-commentary);
}
.modal-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.01em;
}
.modal-form__input-agreement {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form__icon-agreement {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 1px;
  border: 2px solid var(--title-text-color);
  fill: var(--additional-color);
  -webkit-transition: fill var(--time-transition) var(--cubic), border var(--time-transition) var(--cubic);
  transition: fill var(--time-transition) var(--cubic), border var(--time-transition) var(--cubic);
}
.modal-form__input-agreement:checked + .modal-form__icon-agreement {
  border: none;
  fill: var(--accent-color);
}
.modal-form__agreement-text {
  font-size: 14px;
  line-height: 1.7142857143;
}
.modal-form__agreement-link {
  line-height: 1.7142857143;
  -webkit-text-decoration-color: var(--accent-color);
          text-decoration-color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */