.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-list {
  @media screen and (min-width: 300px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: center;
    align-items: center;

    --items: 2;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    --items: 3;
  }

  @media screen and (min-width: 1200px) {
    --items: 6;
  }

  .clients-list__item {
    flex-basis: calc((100% - (var(--indent)) * (var(--items) - 1)) / var(--items));

    width: 130px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      width: 210px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 768px) {
      width: 170px;
    }
  }

  &__link {
    display: flex;

    // min-width: 210px;
    min-height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cl-link);
    border-radius: 4px;
    color: var(--cl-link);

    transition: color var(--time-transition) var(--cubic),
      background-color var(--time-transition) var(--cubic),
      border-color var(--time-transition) var(--cubic);

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__link:hover,
  &__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
    // outline: none;
  }

  &__item:hover &__item:focus {
    border-color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}
