.feature {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .feature-list {
    // display: flex;
    // gap: 30px;

    &__item {
      display: block;
      width: 270px;
    }
  }

  .feature__box {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    background-color: var(--light-bg-cl);
  }

  .feature__icon {
    display: flex;
  }

  .feature__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-text-color);
  }

  .feature__description {
    line-height: 1.71;
  }
}
