.footer-form {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;

  &__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border-radius: 4px;

    font-size: 16px;
    line-height: calc(20 / 16);

    color: var(--cl-text-secondary);
    background-color: var(--dark-bg-cl);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__input::placeholder {
    color: var(--cl-text-secondary);
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 28px;
    margin-left: 12px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    border-radius: 4px;

    color: var(--additional-color);
    background-color: var(--accent-color);
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: currentColor;
  }
}
