.socials-blok {
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    padding-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 93px;
    padding-right: 0;
  }
}

.footer-text {
  display: flex;
  justify-content: center;

  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--additional-color);

  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }

  @media screen and (min-width: 1200px) {
    // margin-top: 72px;
    margin-right: 93px;
    justify-content: flex-start;
  }

  // @media screen and (min-width: 768px) {
  //   text-align: center;
  // }
}
.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: baseline;
  //   width: 603px;
  //   margin-left: 61px;
  //   margin-bottom: 60px;
  // }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--time-transition) var(--cubic);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
  }

  &__icon {
    fill: var(--additional-color);
  }
}
