.logo {
  display: block;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  &--black {
    color: var(--text-part-logo);
  }

  &--white {
    color: var(--additional-color);
  }
  &-part {
    margin-right: 70px;
  }
  &-part-footer {
    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin-right: 92px;
  }
  &__footer {
    @media screen and (max-width: 768px) {
      margin-right: 39px;
    }
  }
}
