.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 300px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--additional-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -30%) scale(1);

  opacity: 1;
  transition: transform var(--time-transition) var(--cubic),
    opacity var(--time-transition) var(--cubic);

  @media screen and (min-width: 760px) {
    min-width: 450px;
    top: 37%;
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }

  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    transition: color var(--time-transition) var(--cubic),
      border var(--time-transition) var(--cubic);

    &:hover,
    &:focus {
      border: 1px solid #2196f3;
    }
  }

  &__btn-icon {
    fill: currentColor;
    width: 18px;
    height: 18px;
  }

  &__btn-icon:hover,
  &__btn-icon:focus {
    fill: var(--accent-color);
  }
}
