.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  // height: 603px;
  background-color: var(--dark-bg-cl);

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
  // @media screen and (min-width: 1200px) {
  // height: 252px;
  // }

  &__container {
    // display: flex;

    @media screen and (min-width: 480px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      align-items: stretch;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  }

  .page-footer__container-tablet {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-left: 61px;
    }

    @media screen and (min-width: 1200px) {
      padding-left: 0;
      // padding-right: 0;
    }
  }
}
