.team {
  background-color: var(--light-bg-cl);

  &__name-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    color: var(--title-text-color);

    @media screen and (min-width: 768px) {
      // display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
    }
  }

  &__item {
    // height: 428px;
    // height: 622px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);

    @media screen and (min-width: 768px) {
      height: 536px;
    }

    @media screen and (min-width: 1200px) {
      height: 428px;
    }
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 24px;
    // padding-bottom: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
      padding-bottom: 30px;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;

    color: var(--title-text-color);
  }

  &__job {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primery-text-color);
  }
}
