body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--primery-text-color);
  background-color: var(--additional-color);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

// adress {
//   font-style: normal;
// }
